In [1]:
print ('ole why are you looking at code')

ole why are you looking at code

In [10]:
import pandas as pd
pastHires=pd.read_csv('PastHires.csv')


# pastHires.describe()

(13, 7)

In [11]:
pastHires.head(10)

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,M
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N
5,0,N,0,PhD,Y,Y,M
6,5,Y,2,MS,N,Y,Y
7,3,N,1,BS,N,Y,Y
8,15,Y,5,BS,N,N,Y
9,0,N,0,BS,N,N,N

In [12]:
pastHires.tail(7)

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
6,5,Y,2,MS,N,Y,Y
7,3,N,1,BS,N,Y,Y
8,15,Y,5,BS,N,N,Y
9,0,N,0,BS,N,N,N
10,1,N,1,PhD,Y,N,N
11,4,Y,1,BS,N,Y,Y
12,0,N,0,PhD,Y,N,M

In [13]:
pastHires.shape

(13, 7)

In [15]:
len(pastHires)

13

In [16]:
pastHires.columns

Index(['Years Experience', 'Employed?', 'Previous employers',
       'Level of Education', 'Top-tier school', 'Interned', 'Hired'],
      dtype='object')

In [ ]:
# Extracting a single column from your Dataframe looks like this -gives you bsck s

In [20]:
years=pastHires['Years Experience']
years

0     10
1      0
2      7
3      2
4     20
5      0
6      5
7      3
8     15
9      0
10     1
11     4
12     0
Name: Years Experience, dtype: int64

In [21]:
years

0     10
1      0
2      7
3      2
4     20
5      0
6      5
7      3
8     15
9      0
10     1
11     4
12     0
Name: Years Experience, dtype: int64

In [22]:
# eztracting  a given range of rows from a named column
years[:5]

0    10
1     0
2     7
3     2
4    20
Name: Years Experience, dtype: int64

In [27]:
pastHires[[ 'Years Experience','Hired','Interned']]

    Years Experience Hired Interned
0                 10     Y        N
1                  0     M        Y
2                  7     N        N
3                  2     Y        N
4                 20     N        N
5                  0     M        Y
6                  5     Y        Y
7                  3     Y        Y
8                 15     Y        N
9                  0     N        N
10                 1     N        N
11                 4     Y        Y
12                 0     M        N

In [ ]:
inport random from random
persons_list=["lara","popo","kingsley"]

In [13]:
randomise_list=sample(persons_list,len(persons_list))
    print(randomise_list)

for i in range(0,len(persons_list),3):
    print(",".join(randomise_list[i:i+3]))

NameError: name 'sample' is not defined

NameError: name 'work' is not defined

In [22]:
pastHire["Level of Education"].value_counts()
degree_counts.plot(kind='bar')

NameError: name 'pastHire' is not defined

In [23]:
pastHires.describe()

NameError: name 'pastHires' is not defined